/* @media only screen and (max-width: 600px) {
  .cover-container  {
    font-size: 0.5em;
    padding: 0;
  }
} */

/* @media only screen and (max-width: 600px) {
  .lead, h1  {
    font-size: 0.3em;
    padding: 0;
  }
} */
.d-flex {
  background-color: #222831;
}
.cover-container {
  max-width: 80em;  
  background:#222831;
  font: #DDDDDD;
  /* height: 100vh; */
  display: flex;
  justify-content: center;
}

.float-md-start,
.nav-list {
  margin-left: 1rem;
  color:#F5F5F5;
  text-decoration: none;
}

/* ////////////////////////////////////////////////////////////////////////////// */
.myPix {
  /* size: 35px; */
  margin-top: 35px;
  margin-bottom: 35px;
  border-radius: 100%;
  width: 20%;
}

.myPix:hover {
  transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.lead:hover {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

h3:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.nav-list:hover {
  transform: scale(1.3); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}